---
http_interactions:
- request:
    method: post
    uri: https://dev.sealine.ru/api/v1/calculate-product.json
    body:
      encoding: UTF-8
      string: '{"product_type":"transport","products":["vsk_trans"],"options":[],"data":{"ticket_price":100}}'
    headers:
      Authorization:
      - Token 0123456789abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":89234,"product_type":"НС пассажирских перевозок","data":{"currency_rates":{"RUB":"1.0000","RUR":"1.0000","USD":"62.9006","EUR":"73.1345"},"ticket_price":100},"products":["vsk_trans"],"options":[],"status":"IN_PROGRESS","error_code":null,"error_message":null,"created_at":"2018-07-19T17:45:53.836034","updated_at":"2018-07-19T17:45:53.836076","expires_at":null}'
  recorded_at: Thu, 19 Jul 2018 14:45:53 GMT
recorded_with: VCR 4.0.0
