---
http_interactions:
- request:
    method: post
    uri: https://dev.sealine.ru/api/v1/calculate-product.json
    body:
      encoding: UTF-8
      string: '{"product_type":"transport","products":["invalid"],"options":[],"data":{"ticket_price":1}}'
    headers:
      Authorization:
      - Token 0123456789abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"products":["Продукт (invalid) не доступен"]}'
  recorded_at: Fri, 20 Jul 2018 09:52:40 GMT
recorded_with: VCR 4.0.0
