---
http_interactions:
- request:
    method: post
    uri: https://dev.sealine.ru/api/v1/calculate-product.json
    body:
      encoding: UTF-8
      string: '{"product_type":"transport","products":["vsk_trans"],"options":[],"data":{"ticket_price":1}}'
    headers:
      Authorization:
      - Token 0123456789abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":90874,"product_type":"НС пассажирских перевозок","data":{"currency_rates":{"RUB":"1.0000","RUR":"1.0000","USD":"62.3497","EUR":"73.0738"},"ticket_price":1},"products":["vsk_trans"],"options":[],"status":"IN_PROGRESS","error_code":null,"error_message":null,"created_at":"2018-07-31T19:27:51.050704","updated_at":"2018-07-31T19:27:51.050746","expires_at":null}'
  recorded_at: Tue, 31 Jul 2018 16:27:51 GMT
- request:
    method: get
    uri: https://dev.sealine.ru/api/v1/calculate-product/90874.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 0123456789abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":90874,"product_type":6,"data":{"currency_rates":{"RUB":"1.0000","RUR":"1.0000","USD":"62.3497","EUR":"73.0738"},"ticket_price":1},"options":[],"products":["vsk_trans"],"results":[{"contractor":{"id":6,"name":"ВСК","code":"vsk"},"product":"vsk_trans","options":[],"additional_options":[],"result_data":{"premium":"70.00","program_type":"vsk_trans_tob","premium_currency":"RUB","coverage":200000,"source_price":"70.00","coverage_currency":"RUB"},"price":"70.00","status":"DONE","error_code":null,"error_message":"","created_at":"2018-07-31T19:27:51.123920","updated_at":"2018-07-31T19:27:51.123963"}],"status":"DONE","error_code":null,"error_message":"","created_at":"2018-07-31T19:27:51.050704","updated_at":"2018-07-31T19:27:51.170187","expires_at":"2018-07-31T21:27:51.169902"}'
  recorded_at: Tue, 31 Jul 2018 16:27:53 GMT
recorded_with: VCR 4.0.0
