---
http_interactions:
- request:
    method: get
    uri: https://dev.sealine.ru/api/v1/calculate-product/89234.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 0123456789abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":89234,"product_type":6,"data":{"currency_rates":{"RUB":"1.0000","RUR":"1.0000","USD":"62.9006","EUR":"73.1345"},"ticket_price":100},"options":[],"products":["vsk_trans"],"results":[{"contractor":{"id":6,"name":"ВСК","code":"vsk"},"product":"vsk_trans","options":[],"additional_options":[],"result_data":{"source_price":"70.00"},"price":"70.00","status":"DONE","error_code":null,"error_message":"","created_at":"2018-07-19T17:45:53.907737","updated_at":"2018-07-19T17:45:53.907785"}],"status":"DONE","error_code":null,"error_message":"","created_at":"2018-07-19T17:45:53.836034","updated_at":"2018-07-19T17:45:53.915192","expires_at":"2018-07-19T19:45:53.914933"}'
  recorded_at: Thu, 19 Jul 2018 14:45:54 GMT
recorded_with: VCR 4.0.0
