---
http_interactions:
- request:
    method: post
    uri: https://dev.sealine.ru/api/v1/order.json
    body:
      encoding: UTF-8
      string: '{"product_type":"transport","product":"vsk_trans","options":[],"data":{"ticket_number":12345678,"ticket_price":1,"departure":"2018-08-01T10:00","arrival":"2018-08-01T18:00","insured":{"first_name":"Иван","last_name":"Иванов","birthday":"1985-01-15"},"insurer":{"first_name":"Петр","last_name":"Петров"}}}'
    headers:
      Authorization:
      - Token 0123456789abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":7212,"data":{"arrival":"2018-08-01T18:00","insurer":{"first_name":"Петр","last_name":"Петров"},"departure":"2018-08-01T10:00","insured":{"first_name":"Иван","last_name":"Иванов","birthday":"1985-01-15"},"currency_rates":{"RUB":"1.0000","RUR":"1.0000","USD":"63.4888","EUR":"73.9327"},"ticket_number":12345678,"ticket_price":1},"options":[],"contractor":{"id":6,"name":"ВСК","code":"vsk"},"product":"vsk_trans","status":"IN_PROGRESS","error_code":null,"error_message":null,"created_at":"2018-07-20T16:25:15.785590","updated_at":"2018-07-20T16:25:15.795338"}'
  recorded_at: Fri, 20 Jul 2018 13:25:15 GMT
recorded_with: VCR 4.0.0
