---
http_interactions:
- request:
    method: post
    uri: https://dev.sealine.ru/api/v1/order.json
    body:
      encoding: UTF-8
      string: '{"product_type":"transport","product":"vsk_trans","options":[],"data":{"ticket_number":12345678,"ticket_price":1,"departure":"2018-08-01T10:00","arrival":"2018-08-01T18:00","insured":{"first_name":null,"last_name":"Иванов","birthday":"1985-01-15"},"insurer":{"first_name":"Петр","last_name":"Петров"}}}'
    headers:
      Authorization:
      - Token 0123456789abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":{"insured.first_name":"Ошибка валидации схемы. Сообщение: None
        is not of type u''string''"}}'
  recorded_at: Fri, 20 Jul 2018 13:56:10 GMT
recorded_with: VCR 4.0.0
