---
http_interactions:
- request:
    method: post
    uri: https://dev.sealine.ru/api/v1/payment.json
    body:
      encoding: UTF-8
      string: '{"order":7212}'
    headers:
      Authorization:
      - Token 0123456789abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":3997,"premium":0.0,"currency":"RUB","status":"IN_PROGRESS","error_code":null,"error_message":"","created_at":"2018-07-31T12:49:11.099624","updated_at":"2018-07-31T12:49:11.099663","order":7212}'
  recorded_at: Tue, 31 Jul 2018 09:49:11 GMT
recorded_with: VCR 4.0.0
