---
http_interactions:
- request:
    method: get
    uri: https://dev.sealine.ru/api/v1/classifiers/product-type.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 0123456789abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, OPTIONS
    body:
      encoding: UTF-8
      string: '{"meta":{"previous":null,"total_count":1,"next":null,"limit":20,"offset":0},"objects":[{"id":6,"code":"transport","title":"НС
        пассажирских перевозок","details":"https://dev.sealine.ru/api/v1/classifiers/product-type/6.json"}]}'
  recorded_at: Wed, 18 Jul 2018 12:55:34 GMT
recorded_with: VCR 4.0.0
