---
http_interactions:
- request:
    method: post
    uri: https://dev.sealine.ru/api/v1/search.json
    body:
      encoding: UTF-8
      string: '{"product_type":"transport","options":[]}'
    headers:
      Authorization:
      - Token 0123456789abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"product_type":"transport","options":[],"contractors":[],"strict_search":false,"results":[{"contractor_code":"vsk","contractor_id":6,"contractor_title":"ВСК","contractor_products":[{"id":"vsk_trans_bus","title":"ВСК
        (Автобус)","match":{},"exact_result":false,"additional_options":[]},{"id":"vsk_trans","title":"ВСК
        (ПП)","match":{},"exact_result":false,"additional_options":[]}]}]}'
  recorded_at: Wed, 18 Jul 2018 13:03:17 GMT
recorded_with: VCR 4.0.0
